# Java
**/target/
*.class
*.jar
*.war
*.log

# Node
node_modules/
dist/
.angular/
npm-debug.log

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# Docker
.env
*.pid

# Angular cache
frontend/.angular/
frontend/node_modules/
